@import "animate.styl"
@import "grid.styl"
@import "utils.styl"
@import "base.styl"
@import "media.styl"

.redEnvelopeMobBind
  .errors
    border-color: red
.modal-pay
  .content-inline
    display: flex
    align-items: center
    height: 30px
    font-size: 14px
    font-weight: 600

.modalRedEnvelopeMobBind
  input
    padding: 20px 12px
    font-size: 16px
    box-shadow: none
    outline: 0
    -webkit-appearance: none

.vertical-center-modal
  display: flex
  align-items: center
  justify-content: center
  .ivu-modal
    top: 0
